/* Variables */
$moderately-violet-color: #733fc8;
$very-dark-grayish-blue-color: #48556a;
$very-dark-blackish-blue-color: #19202d;
$light-gray-color: #cfcfcf;
$white-color: #fff;
$light-grayish-blue-color: #ecf2f8;
$very-light-gray: #fafafa;

/* Colors for interactions */

/* Typography */
$barlow-semi-condensed-family-font: "Barlow Semi Condensed", sans-serif;

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 165px 164px;
  background-color: $light-grayish-blue-color;
  min-height: 100%;
  font-family: $barlow-semi-condensed-family-font;
}

.testimonials {
  &__title {
    display: none;
  }
  &__grid {
    display: grid;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: repeat(4, 255px);
    justify-content: center;
  }
  &__student {
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 8px;
    padding-inline: 32px;
    position: relative;
  }
  &__quotes {
    position: absolute;
    top: 0px;
    right: 80px;
    z-index: 0;
  }
  &__image {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    &--daniel {
      border: 2px solid #a775f1;
    }
    &--patrick {
      border: 2px solid $moderately-violet-color;
    }
  }
  &__name {
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    position: absolute;
    top: 26px;
    left: 77px;
    color: $white-color;
    &--jeanette {
      color: $very-dark-grayish-blue-color;
    }
    &--kira {
      color: $very-dark-grayish-blue-color;
    }
  }
  &__verified {
    font-size: 11px;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 43px;
    left: 77px;
    color: $white-color;
    &--jeanette {
      color: $very-dark-grayish-blue-color;
    }
    &--kira {
      color: $very-dark-grayish-blue-color;
    }
  }
  &__heading {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 600;
    color: $white-color;
    position: relative;
    z-index: 1;
    &--jeanette {
      color: $very-dark-grayish-blue-color;
    }
    &--kira {
      color: $very-dark-grayish-blue-color;
    }
    &--patrick {
      color: $light-grayish-blue-color;
    }
  }
  &__text {
    margin-top: 24px;
    font-weight: 500;
    line-height: 138%;
    font-size: 13px;
    opacity: 0.7;
    color: $very-dark-grayish-blue-color;
    &--daniel {
      margin-top: 16px;
      color: $light-gray-color;
    }
    &--jonathan {
      margin-top: 16px;
      color: $white-color;
    }
    &--patrick {
      color: $white-color;
    }
  }
  &__daniel {
    grid-area: daniel;
    padding-bottom: 32px;
    background-color: $moderately-violet-color;
    width: 540px;
    height: 282px;
  }
  &__jonathan {
    grid-area: jonathan;
    padding-bottom: 32px;
    background-color: $very-dark-grayish-blue-color;
    width: 255px;
    height: 282px;
  }
  &__kira {
    grid-area: kira;
    background-color: $white-color;
    width: 255px;
    height: 572px;
  }
  &__jeanette {
    grid-area: jeanette;
    background-color: $white-color;
    width: 255px;
    height: 266px;
  }
  &__patrick {
    grid-area: patrick;
    background-color: $very-dark-blackish-blue-color;
    width: 540px;
    height: 266px;
  }
}

@media (max-width: 1170px) {
  body {
    padding: 80px 20px;
  }
}

@media (max-width: 1120px) {
  body {
    padding: 71px 24px;
  }
  .testimonials {
    &__grid {
      grid-template-areas:
        "daniel"
        "jonathan"
        "jeanette"
        "patrick"
        "kira";
      grid-template-columns: 1fr;
      justify-items: center;
    }
    &__quotes {
      right: 24px;
    }
    &__student {
      width: 327px;
    }
    &__text {
      &--daniel {
        margin-top: 40px;
        width: 247px;
        height: 180px;
      }
      &--jeanette {
        margin-top: 16px;
      }
      &--patrick {
        margin-top: 16px;
      }
      &--kira {
        margin-top: 16px;
      }
    }
    &__daniel {
      height: 444px;
    }
    &__jonathan {
      height: 240px;
    }
    &__jeanette {
      height: 222px;
    }
    &__patrick {
      height: 384px;
    }
    &__kira {
      height: 438px;
    }
  }
}
