/* Variables */
$moderately-violet-color: #733fc8;
$very-dark-grayish-blue-color: #48556a;
$very-dark-blackish-blue-color: #19202d;
$light-gray-color: #cfcfcf;
$white-color: #fff;
$light-grayish-blue-color: #ecf2f8;
$very-light-gray: #fafafa;

/* Colors for interactions */

/* Typography */
$barlow-semi-condensed-family-font: "Barlow Semi Condensed", sans-serif;

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 165px 164px;
  background-color: $light-grayish-blue-color;
  min-height: 100%;
  font-family: $barlow-semi-condensed-family-font;
}

.testimonials {
  &__title {
    display: none;
  }
  &__grid {
    display: grid;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    column-gap: 30px;
    row-gap: 24px;
  }
  &__student {
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 8px;
    padding-inline: 32px;
  }
  &__daniel {
    grid-area: daniel;
    padding-bottom: 32px;
    background-color: $moderately-violet-color;
  }
  &__jonathan {
    grid-area: jonathan;
    padding-bottom: 32px;
    background-color: $very-dark-grayish-blue-color;
  }
  &__kira {
    grid-area: kira;
    background-color: $white-color;
  }
  &__jeanette {
    grid-area: jeanette;
    background-color: $white-color;
  }
  &__patrick {
    grid-area: patrick;
    background-color: $very-dark-blackish-blue-color;
  }
}
